<div class="toolbar">
    <div class="container">
      <div class="toolbar-add pull-left">
        <button class="btn btn-default" ng-click="$ctrl.newObjectButtonClickHandler()" ng-show="$ctrl.currentPage != $ctrl.pages.OVERVIEW">
          <span class="glyphicon glyphicon-plus"></span>
            Objeto
        </button>
        <button class="btn btn-default" ng-click="$ctrl.newRelationButtonClickHandler()" ng-show="$ctrl.currentPage != $ctrl.pages.OVERVIEW">
          <span class="glyphicon glyphicon-plus"></span>
            Relações
        </button>
      </div>
      <div class="toolbar-show pull-right">
        <button class="btn btn-default" ng-click="$ctrl.showOverviewButtonClickHandler()" ng-show="$ctrl.currentPage != $ctrl.pages.OVERVIEW">
          <span class="glyphicon glyphicon-eye-open"></span>
            Overview
        </button>
        <button class="btn btn-default" ng-click="$ctrl.showImageButtonClickHandler()" ng-show="$ctrl.currentPage == $ctrl.pages.OVERVIEW">
          <span class="glyphicon glyphicon-eye-open"></span>
            Imagem
        </button>
        <button class="btn btn-default" ng-click="$ctrl.showObjectListButtonClickHandler()" ng-show="$ctrl.currentPage != $ctrl.pages.OVERVIEW">
          <span class="glyphicon glyphicon-record"></span>
            Ver Objetos
        </button>
        <button class="btn btn-default" ng-click="$ctrl.showRelationListButtonClickHandler()" ng-show="$ctrl.currentPage != $ctrl.pages.OVERVIEW">
          <span class="glyphicon glyphicon-random"></span>
            Ver Relações
        </button>
        <div class="btn-group" ng-show="$ctrl.currentPage != $ctrl.pages.OVERVIEW">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-resize-full"></span>
            Tamanho
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="$ctrl.resizeImageButtonClickHandler($ctrl.resizeMethods.ORIGINAL)">Original</a></li>
            <li><a href="#" ng-click="$ctrl.resizeImageButtonClickHandler($ctrl.resizeMethods.BY_WIDTH)">Ajustar largura</a></li>
            <li><a href="#" ng-click="$ctrl.resizeImageButtonClickHandler($ctrl.resizeMethods.BY_HEIGHT)">Ajustar altura</a></li>
          </ul>
        </div>
        <div class="btn-group" ng-show="$ctrl.currentPage == $ctrl.pages.OVERVIEW">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-resize-full"></span>
            Tamanho
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="$ctrl.resizeOverviewImageButtonClickHandler($ctrl.resizeMethods.BY_WIDTH)">Ajustar largura</a></li>
            <li><a href="#" ng-click="$ctrl.resizeOverviewImageButtonClickHandler($ctrl.resizeMethods.BY_HEIGHT)">Ajustar altura</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div
    class="image-container"
    ng-show="$ctrl.currentPage != $ctrl.pages.OVERVIEW"
>
    <div 
      class="container-for-boxes"
      ng-mousemove="$ctrl.tagContainerMousemoveHandler($event)"
      ng-mousedown="$ctrl.tagContainerMousedownHandler($event)"
      ng-mouseup="$ctrl.tagContainerMouseupHandler($event)"
      ng-mouseleave="$ctrl.tagContainerMouseleaveHandler($event)"
    >
      <img 
        class="image"
        src="{{ $ctrl.image.url }}"
        style="width:{{ $ctrl.image.width * $ctrl.multiplier() }}px; height:{{ $ctrl.image.height * $ctrl.multiplier() }}px"
      >
      <div 
        class="box" 
        style="position: absolute; 
               left: {{ $ctrl.markerX * $ctrl.multiplier() }}px; 
               top: {{ $ctrl.markerY * $ctrl.multiplier() }}px; 
               width: {{ $ctrl.markerWidth * $ctrl.multiplier() }}px; 
               height: {{ $ctrl.markerHeight * $ctrl.multiplier() }}px;"
        ng-show="$ctrl.markerVisible"
      >
        <div class="handler handler-top-left" ng-mousedown="$ctrl.tagCornerMousedownHandler($event, 'top-left')"></div>
        <div class="handler handler-top-right" ng-mousedown="$ctrl.tagCornerMousedownHandler($event, 'top-right')"></div>
        <div class="handler handler-bottom-left" ng-mousedown="$ctrl.tagCornerMousedownHandler($event, 'bottom-left')"></div>
        <div class="handler handler-bottom-right" ng-mousedown="$ctrl.tagCornerMousedownHandler($event, 'bottom-right')"></div>
      </div>
      <div
        ng-repeat="tag in $ctrl.image.tags"
        class="box"
        ng-click="$ctrl.tagClickHandler($event, tag)"
        style="position: absolute;
               left: {{ tag.x * $ctrl.multiplier() }}px; 
               top: {{ tag.y * $ctrl.multiplier() }}px; 
               width: {{ tag.width * $ctrl.multiplier() }}px; 
               height: {{ tag.height * $ctrl.multiplier() }}px;
               {{ $ctrl.selectedTag == tag ? 'border-color:orange;' : '' }}"
      >
      </div>
    </div>
</div>

<overview
  ng-show="$ctrl.currentPage == $ctrl.pages.OVERVIEW"
  
  multiplier='$ctrl.overviewMultiplier()'
></overview>

<object-editor></object-editor>

<object-viewer></object-viewer>

<relation-editor></relation-editor>

<relation-list></relation-list>

<!-- background branco transparente -->
<div ng-show="$ctrl.dialogOpen" style="position: fixed; background-color: white; opacity: 0.5; width: 100%; height: 100%; top: 0; left: 0; z-index: 10000">
</div>

<!-- background de erro transparente -->
<div ng-show="$ctrl.error != null" style="position: fixed; background-color: rgba(255,255,255,0.8); width: 100%; height: 100%; top: 0; left: 0; z-index: 99999">
  <div class="error-overlay_content alert alert-danger">
    <span class="error-overlay_content_icon glyphicon glyphicon-remove-circle"></span>
    <p>Ocorreu um erro ao tentar {{ $ctrl.error.actionThatFailed }}.</p>
    <p>Por favor, verifique se sua internet está em boas condições e tente novamente.</p>
    <p>Se o problema persistir, entre em contato com o administrador do sistema.</p>
    <button class="btn btn-default btn-block error-overlay_content_button" ng-click="$ctrl.errorMessageOkButtonClickHandler()">Ok</button>
  </div>
</div>