<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav util-centered">
            <li ng-style="{'visibility': $ctrl.hasPreviousImage() ? 'visible' : 'hidden'}">
                <a href="javascript:void(0)" class="navbar-brand" ng-click="$ctrl.previousImageButtonClickHandler()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Previous Image
                </a>
            </li>
            <!--<li>-->
            <!--    <a href="javascript:void(0)" class="navbar-brand">-->
            <!--        All Images-->
            <!--    </a>-->
            <!--</li>-->
            <li ng-style="{'visibility': $ctrl.hasNextImage ? 'visible' : 'hidden'}">
                <a href="javascript:void(0)" class="navbar-brand" ng-click="$ctrl.nextImageButtonClickHandler()">
                    Next Image
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
        
        <ul class="nav navbar-nav">
            <li>
                <a href="javascript:void(0)" ng-click="$ctrl.backToDatasetsButtonClickHandler()">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    Back to your datasets
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li>-->
            <!--    <a href="javascript:void(0)">-->
            <!--        <span class="glyphicon glyphicon-adjust"></span>-->
            <!--        White | Dark Mode-->
            <!--    </a>-->
            <!--</li>-->
            <li>
                <a 
                href="javascript:void(0)" 
                ng-click="$ctrl.sairButtonClickHandler()" 
                >
                    <span class="glyphicon glyphicon-log-out"></span>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
  
<login-form
    ng-show="$ctrl.page == 'login-form'"
    on-login="$ctrl.onLogin()"
></login-form>

<!--<image-chooser
    datasets="$ctrl.datasets"
    ng-show="$ctrl.page == 'image-chooser'"
    on-choose="$ctrl.onImageChooserChoose(image)"
></image-chooser>
-->
<image-tagger
    image="$ctrl.selectedImage"
    ng-show="$ctrl.page == 'image-tagger'"
    on-close="$ctrl.onImageTaggerClose()"
></image-tagger>