<div class="modal-panel edit-panel" ng-show="$ctrl.open">
  
    <div class="container-fluid">
      <div class="row">
        <h3 class="edit-panel-title">
          Preview Tag Merge
        </h3>
        <button class="btn btn-danger close-button" ng-click="$ctrl.closeButtonClickHandler()">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
      <div class="row">
        <div class="alert alert-danger" ng-if="$ctrl.errors.length">
          <p ng-repeat="error in $ctrl.errors">{{ error }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 object-image-column">
          <object-thumbnail class="object-image" image="$ctrl.image()" block="$ctrl.marker" size="350"></object-thumbnail>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <label for="object-name">Nome</label>
              <input type="text" ng-if="!$ctrl.useOnthology()" id="object-name" class="form-control" ng-model="$ctrl.object" placeholder="nome do objeto">
              <select ng-if="$ctrl.useOnthology()" class="form-control" id="object-name" ng-model="$ctrl.object" ng-options="type for type in $ctrl.possibleObjectTypes()">
              </select>
              <label for="">Attributes</label>
            </div>
          </div>
          <div class="row object-attributes">
            <div class="col-md-12">
              <div ng-if="!$ctrl.useOnthology()" style="display: table;">
                <div style="display: table-row;" ng-repeat="attribute in $ctrl.attributes">
                  <div style="display: table-cell;">
                    <input type="text" class="form-control attribute-name" ng-model="attribute.name" placeholder="propriedade é...">
                  </div>
                  <div style="display: table-cell;">
                    <input type="text" class="form-control" ng-model="attribute.value" placeholder="esse valor">
                  </div>
                  <div style="display: table-cell;">
                    <button class="btn btn-danger button-remove" ng-click="$ctrl.removeAttributeButtonClickHandler(attribute)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div ng-if="$ctrl.useOnthology()" style="display: table; width: 100%">
                <div style="display: table-row;" ng-repeat="attribute in $ctrl.attributes">
                  <div style="display: table-cell; width: 50%">
                    <select class="form-control attribute-name" ng-model="attribute.name" ng-options="type.name as type.name for type in $ctrl.possibleAttributeTypes()">
                    </select>
                  </div>
                  <div style="display: table-cell; width: 50%">
                    <select class="form-control" ng-model="attribute.value" ng-disabled="!attribute.name" ng-options="value for value in $ctrl.possibleValuesOfAttributeType(attribute.name)">
                    </select>
                  </div>
                  <div style="display: table-cell;">
                    <button class="btn btn-danger button-remove" ng-click="$ctrl.removeAttributeButtonClickHandler(attribute)">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn-add-attribute btn btn-default btn-block" ng-click="$ctrl.addAttributeButtonClickHandler()">
                <span class="glyphicon glyphicon-plus"></span>
                Add attribute
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row actions-row">
        <div class="col-md-6">
          <button class="btn btn-default btn-block" ng-click="$ctrl.editMarkerButtonClickHandler()">
            <span class="glyphicon glyphicon-pencil"></span>
            <span ng-if="$ctrl.marker">Edit tag area</span>
          </button>
        </div>
        <div class="col-md-6">
          <div style="display: table; width: 100%;">
            <div style="display: table-cell">
              <button class="btn btn-primary btn-block save-button" ng-click="$ctrl.confirmMergeButtonClickHandler()">
                Confirm Merge
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>