<div class="container">
  <h3 class="text-center">
    Overview
  </h3>
  
  <div class="row">
    <div class="col-xs-2">
      <h2>Objetos</h2>
      
      <div ng-click="$ctrl.onObjectClick({block: block})" style="cursor: pointer; padding-bottom: 4px; border-bottom: 1px solid #ddd" ng-repeat="block in $ctrl.blocks" ng-mouseenter="$ctrl.showBlock(block)" ng-mouseleave="$ctrl.hideBlock(block)">
        {{ block.object.name }}
      </div>
      
    </div>
    <div class="col-xs-2">
      <h2>Atributos</h2>
      
      <div ng-click="$ctrl.onObjectClick({block: attribute.block})" style="cursor: pointer; padding-bottom: 4px; border-bottom: 1px solid #ddd" ng-repeat="attribute in $ctrl.attributes" ng-mouseenter="$ctrl.showBlock(attribute.block)" ng-mouseleave="$ctrl.hideBlock(attribute.block)">
        {{ attribute.name }} de {{ attribute.block.object.name }} é {{ attribute.value }}
      </div>

    </div>
    <div class="col-xs-3">
      <h2>Relações</h2>
      
      <div ng-click="$ctrl.onRelationClick({relation: relation})" style="cursor: pointer; padding-bottom: 4px; border-bottom: 1px solid #ddd" ng-repeat="relation in $ctrl.relations" ng-mouseenter="$ctrl.showRelation(relation)" ng-mouseleave="$ctrl.hideRelation(relation)">
          {{ $ctrl.idToTag(relation.originTagId).object.name }} {{ relation.name }} {{ $ctrl.idToTag(relation.targetTagId).object.name }}
      </div>
      
    </div>
    <div class="col-xs-5">
      <div
          class="image-container-preview text-center"
      >
          <div 
            class="container-for-boxes"
          >
            <img 
              class="image"
              src="{{ $ctrl.image.url }}"
              style="width:{{ $ctrl.image.width * $ctrl.multiplier }}px; height:{{ $ctrl.image.height * $ctrl.multiplier }}px"
            >
            <div
            ng-repeat="block in $ctrl.blocks"
            class="box"
            style="
                  display: {{ block.visible ? 'block' : 'none' }};
                  position: absolute;
                  left: {{ block.x * $ctrl.multiplier }}px; 
                  top: {{ block.y * $ctrl.multiplier }}px; 
                  width: {{ block.width * $ctrl.multiplier}}px; 
                  height: {{ block.height * $ctrl.multiplier }}px;"
            >
            </div>
          </div>
      </div>
    </div>
  </div>
  
</div>