<div class="modal-panel relations-list-panel" ng-show="$ctrl.open">
  <h3 class="edit-panel-title">
    Relações
  </h3>
  
  <button class="btn btn-danger close-button" ng-click="$ctrl.closeButtonClickHandler()">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
    
  <div style="overflow: auto; height: 500px" class="container-fluid">
    <div ng-repeat="relation in $ctrl.relations()">
      <div class="row" style="margin-top: 1em; margin-bottom: 1em">
        <div class="col-md-6 text-center">
          <div class="relation-editor-thumbnail-container" style="cursor: initial">
            <object-thumbnail class="centered-vh" image="$ctrl.image()" block="relation.originTag" size="200"></object-thumbnail>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="relation-editor-thumbnail-container" style="cursor: initial">
            <object-thumbnail class="centered-vh" image="$ctrl.image()" block="relation.targetTag" size="200"></object-thumbnail>
          </div>
        </div>
      </div>
      <div class="row">
        <span style="line-height: 34px;margin-left: 2em;">
          <span style="font-weight: bold">{{ relation.originTag.object }}</span>
          {{ relation.name }}
          <span style="font-weight: bold">{{ relation.targetTag.object }}</span>
        </span>
        <a class="btn btn-danger pull-right"
          href="javascript:void(0)" 
          ng-click="$ctrl.deleteRelationButtonClickHandler(relation)"
          >
          Deletar
        </a>
        <a class="btn btn-default pull-right"
          href="javascript:void(0)" 
          ng-click="$ctrl.editRelationButtonClickHandler(relation)"
          >
          Editar
        </a>
        <hr>
      </div>
    </div>
  </div>
  
</div>