<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav util-centered">
            <li ng-style="{'visibility': $ctrl.hasPreviousImage() ? 'visible' : 'hidden'}">
                <a href="javascript:void(0)" class="navbar-brand" ng-click="$ctrl.previousImageButtonClickHandler()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Previous Image
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="navbar-brand" ng-click="$ctrl.nextImageButtonClickHandler()">
                    Next Image
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </li>
        </ul>
        
        <ul class="nav navbar-nav">
            <li>
                <a href="javascript:void(0)" ng-click="$ctrl.backToDatasetsButtonClickHandler()">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    Back to your datasets
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a 
                href="javascript:void(0)" 
                ng-click="$ctrl.logoutButtonClickHandler()"
                >
                    <span class="glyphicon glyphicon-log-out"></span>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
  
<image-tagger
    image="$ctrl.selectedImage"
></image-tagger>