<div class="container">
  <h3 class="text-center">
    Overview
  </h3>
  
  <div class="row">
    <div class="col-xs-2">
      <h2>Objects</h2>
      
      <div 
        ng-click="$ctrl.tagItemClickHandler(tag)" 
        style="cursor: pointer; padding-bottom: 4px; border-bottom: 1px solid #ddd" 
        ng-repeat="tag in $ctrl.image().tags" 
        ng-mouseenter="$ctrl.showTag(tag)" 
        ng-mouseleave="$ctrl.hideTag(tag)">
        {{ tag.object || "(not named)" }}
      </div>
      
    </div>
    <div class="col-xs-2">
      <h2>Attributes</h2>
      
      <div 
        ng-click="$ctrl.attributeItemClickHandler(tag)"
        style="cursor: pointer; padding-bottom: 4px; border-bottom: 1px solid #ddd" 
        ng-repeat="tag in $ctrl.tagsWithAttributes()"
        ng-mouseenter="$ctrl.showTag(tag)" 
        ng-mouseleave="$ctrl.hideTag(tag)">
        
        <div style="text-align: center;">{{ tag.object || "(not named)" }}</div>
        
        <div
          ng-repeat="attribute in tag.attributes"
          style="text-align: center">
          {{ attribute.name }} &rarr; {{ attribute.value }}
        </div>
      </div>

    </div>
    <div class="col-xs-3">
      <h2>Relations</h2>
      
      <div 
        ng-click="$ctrl.relationItemClickHandler(relation)"
        style="cursor: pointer; padding-bottom: 4px; border-bottom: 1px solid #ddd" 
        ng-repeat="relation in $ctrl.relations() | orderBy: 'name'" 
        ng-mouseenter="$ctrl.showRelation(relation)" 
        ng-mouseleave="$ctrl.hideRelation(relation)">
          <p style="text-align: center; margin-bottom:0">{{ relation.originTag.object || "(not named)" }}</p>
          <p style="text-align: center; margin-bottom:0">{{ relation.name }}</p>
          <p style="text-align: center; margin-bottom:0">{{ relation.targetTag.object || "(not named)" }}</p>
      </div>
      
    </div>
    <div class="col-xs-5">
      <div
          class="image-container-preview text-center"
      >
          <div 
            class="container-for-boxes"
            ng-style="$ctrl.previewOffset"
          >
            <img 
              class="image"
              src="{{ $ctrl.image().url }}"
              style="width:{{ $ctrl.image().width * $ctrl.multiplier }}px; height:{{ $ctrl.image().height * $ctrl.multiplier }}px"
            >
            <div
            ng-repeat="tag in $ctrl.visibleTags"
            class="box"
            style="
                  position: absolute;
                  left: {{ tag.x * $ctrl.multiplier }}px; 
                  top: {{ tag.y * $ctrl.multiplier }}px; 
                  width: {{ tag.width * $ctrl.multiplier}}px; 
                  height: {{ tag.height * $ctrl.multiplier }}px;"
            >
            </div>
          </div>
      </div>
    </div>
  </div>
  
</div>